/*-----------------------------------------------General-----------------------------------------------------*/
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.card {
    margin-top: 50px;
    width: 240px;
    height: 360px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 8.82px 16.38px -3.78px, rgba(0, 0, 0, 0.2) 0px -3.78px 0px inset;
    transition: 0.4s;
    padding: 0px;
}
.card:hover {
    transform: scale(110%);
}
.precio {
    font-weight: 900;
    border-bottom: solid 1px black;
}
.cantidad {
    margin-left: 5px;
}
.boton-Comprar {
    color: #ffff;
    padding: 5px;
    border: transparent;
    background-color: #5390d9;
}
.boton-Comprar:hover {
    color: black;
    background-color: #ffff;
    outline: 3px solid #5390d9;
}
.boton-EnviarAlCarrito {
    color: #ffff;
    padding: 5px;
    border: transparent;
    background-color: #06d6a0;
}
.boton-EnviarAlCarrito:hover {
    color: black;
    background-color: #ffff;
    outline: 3px solid #06d6a0;
}
.contenedor-titulo {
    display: flex;
    justify-content: center;
    background: linear-gradient(217deg, rgba(46,196,182,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}  
.nav-boton:hover {
    border-bottom: solid 1px black;
}
.boton-activo {
    border-bottom: solid 2px gold;
}
.titulo {
    margin: 5px 0px;
    font-size: 2.5rem;
    font-weight: 900;
}
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.bg-gris {
    background-color: #52b788;
}
.width-50 {
    width: 50%;
}

/*-------------------------------------------Index--------------------------------------------------------*/

.header-logo {
    width: 70px;
    transform: scale(140%);
    transition: 0.4s;
}
.header-logo:hover {
    transform: scale(100%);
}
.header-carrito {
    height: 35px;
    width: 30px;
    transition: 0.4s;
}
.header-carrito:hover {
    transform: scale(140%);
}
.header-buscador {
    margin-right: 150px;
}
/*-------------------------------------------------Nosotros--------------------------------------------*/
.contenedor-cartas-nosotros {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.carta-nosotros-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carta-nosotros {
    overflow: scroll;
    width: 400px;
    height: 450px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
    cursor: pointer;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 50px;
}
.carta-nosotros-grande {
    overflow: scroll;
    width: 600px;
    height: 400px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 100px;
}
.carta-nosotros-contenedor-titulo {
    border-bottom: solid 2px;
}
.carta-nosotros-contenedor-parrafo {
    margin: 20px 50px;
}
/*-----------------------------------------Categorias----------------------------------------*/
.lista-categorias {
    padding: 10px;
    transition: 0.4s;
}
.lista-categorias:hover {
    padding: 20px;
}
.span-categorias {
    padding: 5px;
    background: linear-gradient(217deg, rgba(46,196,182,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(224,170,255,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.span-padding1 {
    padding: 5px 50px;
}
.span-padding2 {
    padding: 5px 53px;
}
.span-padding3 {
    padding: 5px 32px;
}
.span-padding4 {
    padding: 5px 40px;
}
.span-padding6 {
    padding: 5px 16px;
}
.span-padding5 {
    padding: 5px 36px;
}
.span-padding7 {
    padding: 5px 49px;
}
/*------------------------------------------------Carrito----------------------------------------*/
.section-carrito {
    width: 100%;
    height: 600px;
}
/*-------------------------------------------------Contacto-------------------------------*/
.contenedor-email-email {
    width: 67%;
}
.section-formulario-carta-contenedor-email {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor-nombre-y-apellido {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenedor-consulta {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.section-formulario {
 width: 100%;
 height: 1000px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.section-formulario-carta-contenedor {
 background-color: gold;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 width: 85%;
 height: 80%;
}
.section-formulario-carta {
width: 55%;
height: 65%;
background: rgb(236, 236, 236);
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
margin-left: 75px;
margin-right: 75px;
display: flex;
flex-direction: column;
align-items: center;
justify-content:start;
}
.section-formulario-carta-contenedor-consulta {
 width: 73%;
 height: 150px;
}

   /*------------------------------------------*/
@media screen and (max-width: 1024px) {
    /*---------------------------------------------General-----------------------------------*/

    .titulo {
        font-size: 1.3rem;
        display: flex;
    }
    .card {
        width: 140px;
        height: 214px;
        margin-top: 50px
    }

    /*---------------------------------------------Index--------------------------------------*/

    .header-buscador {
        margin-left: 150px;
        width: 200px;
    }

    /*------------------------------------------------Categorias--------------------------------------*/



    /*---------------------------------------------Contacto-------------------------------------*/
    .section-formulario-carta-contenedor-formulario-motivo {
        margin-right: 30px;
    }
    .section-formulario {
        height: 700px;
    }
    .section-formulario-carta {
        margin: 30px;
        width: 550px;
        height: 550px;
    }
    .section-formulario-carta-contenedor { 
        height: 450px;
    }

    /*---------------------------------------------Nosotros--------------------------------------*/
    .carta-nosotros {
        font-size: 0.8rem;
        width: 200px;
        height: 264px;
    }
    .carta-nosotros-grande {
        font-size: 0.8rem;
        width: 400px;
        height: 200px;
    }
}