@charset "UTF-8";
body, html {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

nav div div ul li {
  width: 50%;
}

.section-cartas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0px !important;
}

.section-cartas .Contenedor-de-cartas {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.boton-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: solid 0.5px black;
  background-color: violet;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
}

.boton-to-top:hover {
  background-color: turquoise;
}

.card {
  margin-top: 50px;
  width: 240px;
  height: 460px;
  background: #ececec;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 8.82px 16.38px -3.78px, rgba(0, 0, 0, 0.2) 0px -3.78px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 8.82px 16.38px -3.78px, rgba(0, 0, 0, 0.2) 0px -3.78px 0px inset;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 0px;
}

.card:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.card .carta-parrafo {
  font-weight: 900;
  width: 230px;
  height: 48px;
}

.card .precio {
  font-weight: 900;
  border-bottom: solid 1px black;
}

.card img {
  background-color: #fff;
  height: 53%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.card select {
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #3a86ff;
  background-color: transparent;
  color: #3a86ff;
}

.boton-Comprar {
  color: #ffff;
  padding: 5px;
  border: transparent;
  background-color: #5390d9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.boton-Comprar:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.boton-EnviarAlCarrito {
  color: #ffff;
  padding: 5px;
  border: transparent;
  background-color: #06d6a0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.boton-EnviarAlCarrito:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.contenedor-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(217deg, rgba(46, 196, 182, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.contenedor-titulo .titulo {
  margin: 5px 0px;
}

.boton-activo {
  border-bottom: solid 2px gold;
}

.width-50 {
  width: 50%;
}

.nav-boton:hover {
  border-bottom: solid 1px white;
}

.footer-boton:hover {
  border-bottom: solid 1px black;
}

header {
  background-color: #52b788;
}

header .header-logo {
  width: 70px;
  -webkit-transform: scale(140%);
          transform: scale(140%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header-logo:hover {
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

header .ando, header .mate {
  color: #ffff;
  font-family: 'Baumans', cursive;
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 0px;
}

header .mate {
  margin-right: 25px;
}

header .header-buscador {
  margin-right: 150px;
}

header .header-carrito {
  height: 35px;
  width: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header-carrito:hover {
  -webkit-transform: scale(140%);
          transform: scale(140%);
}

nav {
  background-color: #52b788;
}

.contenedor-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(217deg, rgba(46, 196, 182, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.contenedor-titulo .titulo {
  font-size: 2.5rem;
  font-weight: 900;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
}

footer div form button {
  background-color: #52b788 !important;
  border: 0.5px solid #52b788 !important;
}

.CarruselDescuentos {
  height: 400px;
}

.CarruselDescuentos .img-descuentos {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #dddd;
}

div .lista-categorias {
  border: none;
  border-radius: 0px;
  background: linear-gradient(217deg, rgba(46, 196, 182, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(224, 170, 255, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

div .lista-categorias:hover {
  background: linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%), linear-gradient(217deg, rgba(46, 196, 182, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(225, 50, 255, 0.8), rgba(0, 255, 0, 0) 70.71%);
}

.contenedor-cartas-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor-cartas-nosotros .carta-nosotros {
  cursor: default;
  overflow: auto;
  width: 400px;
  height: 450px;
  background: #ececec;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor-cartas-nosotros .carta-nosotros .carta-nosotros-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-cartas-nosotros .carta-nosotros-grande {
  cursor: default;
  overflow: auto;
  width: 600px;
  height: 400px;
  background: #ececec;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor-cartas-nosotros .carta-nosotros-grande .carta-nosotros-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carta-nosotros-contenedor-parrafo {
  margin: 20px 50px;
}

.cartanosotros-contenedor-titulo {
  border-bottom: solid 2px;
}

.img-nosotros {
  height: 450px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}

.img-nosotros-grande {
  height: 400px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}

.section-formulario {
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-formulario .section-formulario-carta {
  width: 800px;
  height: 600px;
  background: #ececec;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-left: 75px;
  margin-right: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.section-formulario .section-formulario-carta .section-formulario-carta-contenedor {
  background-color: gold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  height: 480px;
}

.section-formulario .section-formulario-carta .section-formulario-carta-contenedor .contenedor-nombre-y-apellido {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-formulario .section-formulario-carta .section-formulario-carta-contenedor .contenedor-email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-formulario .section-formulario-carta .section-formulario-carta-contenedor .contenedor-email .email {
  width: 323px;
}

.section-formulario .section-formulario-carta .section-formulario-carta-contenedor .contenedor-consulta {
  width: 365px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-formulario .section-formulario-carta .section-formulario-carta-contenedor .contenedor-consulta .consulta {
  width: 100%;
  height: 100%;
}

.section-carrito {
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 1023px) {
  body, html {
    overflow-x: hidden;
  }
  footer {
    font-size: 0.8rem;
  }
  footer h5 {
    font-size: 1rem;
  }
  .boton-to-top {
    background-color: turquoise;
    padding: 0px;
  }
  .titulo {
    font-size: 1.5rem !important;
  }
  .card {
    width: 140px;
    height: 300px;
    font-size: 0.75rem;
  }
  .card .carta-parrafo {
    margin-bottom: 0px;
    width: 130px;
    margin-left: 10px !important;
  }
  .card .precio {
    margin-bottom: 10px;
  }
  .card div button {
    font-size: 0.8rem;
    padding: 4px 0px;
    -webkit-transform: scaleX(90%);
            transform: scaleX(90%);
  }
  .card div button:hover {
    -webkit-transform: scaleX(90%);
            transform: scaleX(90%);
  }
  .newsletter-responsive {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1025px) {
  .card {
    width: 200px;
    height: 420px;
  }
  .card img {
    height: 48%;
  }
  .card .carta-parrafo {
    width: 180px;
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 1024px) {
  .header-buscador {
    margin-left: 150px;
    width: 200px;
  }
  .CarruselDescuentos {
    height: 200px;
  }
  .CarruselDescuentos .img-descuentos {
    height: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .carta-nosotros {
    height: 350px !important;
    width: 300px !important;
  }
  .carta-nosotros h1 {
    font-size: 1.8rem;
  }
  .img-nosotros {
    height: 350px;
  }
  .carta-nosotros-grande {
    width: 300px !important;
    height: 400px !important;
  }
  .carta-nosotros-grande h1 {
    font-size: 1.6rem;
  }
  .carta-nosotros-contenedor-parrafo {
    margin: 20px 20px;
    font-size: 0.8rem;
  }
}

/*------------------------------------------Pantallas Pequeños-------------------------------------------------*/
@media screen and (max-width: 425px) {
  .carta-nosotros {
    height: 350px !important;
    width: 275px !important;
  }
  .img-nosotros {
    height: 300px;
  }
  .img-nosotros-grande {
    height: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .section-formulario {
    height: 700px;
  }
  .section-formulario .section-formulario-carta {
    width: 600px;
    height: 500px;
  }
  .section-formulario .section-formulario-carta .section-formulario-carta-contenedor {
    width: 520px;
    height: 400px;
  }
}

/*-------------------------------------------Pantallas Pequeñas------------------------------------------------*/
@media screen and (max-width: 425px) {
  .section-formulario-carta {
    width: 300px !important;
    height: 490px !important;
    margin: 0px !important;
    font-size: 0.8rem;
  }
  .section-formulario-carta .section-formulario-carta-contenedor {
    width: 280px !important;
    height: 400px !important;
  }
  .section-formulario-carta .section-formulario-carta-contenedor .contenedor-email {
    width: 250px !important;
  }
  .section-formulario-carta .section-formulario-carta-contenedor .contenedor-consulta {
    width: 250px !important;
  }
}

@media screen and (max-width: 1024px) {
  .h1-carrito {
    font-size: 1.5rem;
  }
}

/*-----------------------------------------------Pantallas Pequeñas--------------------------------------*/
@media screen and (max-width: 320px) {
  .h1-carrito {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=estilos.css.map */