.lista-categorias {
    padding: 10px;
    transition: 0.4s;
    &:hover {
        padding: 20px;
    }
    .span-categorias {
        padding: 5px;
        background: linear-gradient(217deg, rgba(46,196,182,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(224,170,255,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
        .padding1 {
            padding: 5px 50px;
        }
        .padding2 {
            padding: 5px 53px;
        }
        .padding3 {
            padding: 5px 32px;
        }
        .padding4 {
            padding: 5px 40px;
        }
        .padding6 {
            padding: 5px 16px;
        }
        .padding5 {
            padding: 5px 36px;
        }
        .padding7 {
            padding: 5px 49px;
        }
    }
    
}