@media screen and (max-width: 1024px) {
    .section-formulario {
        height: 700px;
    }
    .section-formulario-carta {
        margin: 30px;
    }
    .section-formulario-carta-contenedor { 
        height: 550px;
    }
}