@media screen and (max-width: 1024px){
    .section-formulario {
        height: 700px;
        background-size: contain;
        .section-formulario-carta {
            width: 600px;
            height: 500px;
            .section-formulario-carta-contenedor { 
                width: 520px;
                height: 400px;
            }
        }
    }
}

/*-------------------------------------------Pantallas Pequeñas------------------------------------------------*/

@media screen and (max-width: 425px) {
    .section-formulario-carta {
        width: 300px!important;
        height: 490px!important;
        margin: 0px!important;
        font-size: 0.8rem;
        .section-formulario-carta-contenedor {
            width: 280px!important;
            height: 400px!important;
            .contenedor-email {
                width: 250px!important;
            }
            .contenedor-consulta {
                width: 250px!important;
            }
        }
    }
}