/*-------------------------------------------------------General Responsive-------------------------------*/

@media screen and (max-width: 1023px) {
    body, html{
        overflow-x: hidden;
    }
    .boton-to-top {
        padding: 0px;
        &:hover {
            background-color: turquoise;
        }
    }
    .header-buscador {
        margin-left: 160px!important;
        width: 55%!important;
    }
    .titulo {
        font-size: 1.5rem!important;
    }
    footer {
        font-size: 0.8rem;
        h5 {
            font-size: 1rem;
        }
        .newsletter-responsive {
            width: 90%;
        }
    }
    .card {
        width: 140px;
        height: 300px;
        font-size: 0.75rem;
        .carta-parrafo {
            margin-bottom: 0px;
            width: 130px;
            margin-left: 10px!important;
        }
        .precio {
            margin-bottom: 10px;
        }
        div button{
            font-size: 0.8rem;
            padding: 4px 0px;
            transform: scaleX(90%);
            &:hover {
                transform: scaleX(90%);
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1025px) {
    .card {
        width: 200px!important;
        height: 420px!important;
        img {
            height: 48%!important;
        }
        .carta-parrafo {
            width: 180px!important;
            margin-left: 15px!important
        }
    }
    .header-buscador {
        width: 300px!important;
        margin-left: 10px!important;
        margin-right: 95px!important;
    }
}

/*-------------------------------------Pantallas Pequeñas---------------------------------------------*/

@media screen and (max-width: 320px) {
    .header-buscador {
        width: 200px!important;
        margin-left: 170px!important;
    }
}