@media screen and (max-width: 1023px) {
    body, html{
        overflow-x: hidden;
    }
    .boton-to-top {
        background-color: turquoise;
    }
    .titulo {
        font-size: 1.5rem!important;
    }
    .card {
        width: 140px;
        height: 254px;
        p {
            font-size: 0.8rem;
            margin-bottom: 8px;
            margin-top: 8px;
        }
        label {
            font-size: 0.8rem;
        }
        div button{
            font-size: 0.8rem;
            padding: 4px 0px;
            transform: scaleX(90%);
            &:hover {
                transform: scaleX(90%);
            }
        }
    }
    .newsletter-responsive {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1025px) {
    .card {
        width: 200px;
        height: 400px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1026px) {
    .card {
        width: 300px;
        height: 600px;
    }
}