@media screen and (max-width: 1024px) {
    .header-buscador {
        margin-left: 150px;
        width: 200px;
    }
    .CarruselDescuentos {
        height: 250px;
        .img-descuentos {
            height: 250px;
        }
    }
}