/*----------------------------------------------------Nosotros Responsive------------------------------*/

@media screen and (max-width: 1024px) {

    .contenedor-cartas-nosotros {
        .carta-nosotros {
            height: 350px;
            width: 300px;
            h1 {
                font-size: 1.8rem;
            }
        }
        .carta-nosotros-grande {
            width: 300px!important;
            height: 400px!important;
            h1 {
                font-size: 1.6rem;
            }
        }
    }
    .img-nosotros {
        width: 412px;
        height: 350px;
    }
    .img-nosotros-grande {
        width: 412px;
    }
    .carta-nosotros-contenedor-parrafo {
        margin: 20px 20px;
        font-size: 0.8rem;
    }
}
/*------------------------------------------Pantallas Pequeños-------------------------------------------------*/

@media screen and (max-width: 425px) {
    .contenedor-cartas-nosotros {
        .carta-nosotros {
            height: 350px;
            width: 275px;
        }
    }
    .img-nosotros {
        width: 300px;
        height: 300px;
    }
    .img-nosotros-grande {
        width: 350px;
        height: 350px;
    }
}