@media screen and (max-width: 1024px) {
    .carta-nosotros {
        height: 350px!important;
        width: 300px!important;
        h1 {
            font-size: 1.8rem;
        }
    }
    .carta-nosotros-grande {
        width: 300px!important;
        height: 400px!important;
        h1 {
            font-size: 1.6rem;
        }
    }
    .carta-nosotros-contenedor-parrafo {
        margin: 20px 20px;
        font-size: 0.8rem;
    }
}