/*----------------------------------------------------Nosotros Responsive------------------------------*/

@media screen and (max-width: 1024px) {
    .carta-nosotros {
        height: 350px!important;
        width: 300px!important;
        h1 {
            font-size: 1.8rem;
        }
    }
    .img-nosotros {
        height: 350px;
    }
    .carta-nosotros-grande {
        width: 300px!important;
        height: 400px!important;
        h1 {
            font-size: 1.6rem;
        }
    }
    .carta-nosotros-contenedor-parrafo {
        margin: 20px 20px;
        font-size: 0.8rem;
    }
}
/*------------------------------------------Pantallas Pequeños-------------------------------------------------*/

@media screen and (max-width: 425px) {
    .carta-nosotros {
        height: 350px!important;
        width: 275px!important;
    }
    .img-nosotros {
        height: 300px;
    }
    .img-nosotros-grande {
        height: 350px;
    }
}