body, html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.width-50 {
    width: 50%;
}
.boton-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: solid 0.5px black;
    background-color: turquoise;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    &:hover {
      background-color: violet;
    }
}
nav div div ul li {
    width: 50%;
}
.boton-activo {
    border-bottom: solid 2px gold;
}
.nav-boton {
    &:hover {
        border-bottom: solid 1px white;
    }
}
