header{
    background-color: $verde;
    .header-logo {
        width: 70px;
        transform: scale(140%);
        transition: 0.4s;
    &:hover {
        transform: scale(100%);
        }
    }
    .ando {
        color: #ffff;
        font-family: 'Baumans', cursive;
        font-size: 2rem;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .mate {
        @extend .ando;
        margin-right: 25px;
    }
    .header-buscador {
        margin-right: 150px;
    }
    .header-carrito {
        height: 35px;
        width: 35px;
        transition: 0.4s;
    &:hover {
        transform: scale(140%);
        }
    }
}